
        .header_wrapper{
            height: 90px;
            line-height: 90px;
            background-color: #2a60ea;
            padding: 0;
            position: relative;
            .header_container{
                padding: 0 22px;
                display: flex;
                color: #fff;
                justify-content: flex-end;
                align-items: center;
                font-size: 14px;
                .h_icon{
                    height: 14px;
                    margin: 0 20px;
                    border-left: 1px solid #fff;
                }
            }
            .nav_mask{
                position: absolute;
                bottom: -70px;
                left: 0;
                right: 0;
                height: 70px;
                background: #ffffff;
                box-shadow: 0px 1px 3px 0px rgba(0, 17, 17, 0.1);
            }
        }