
.map_wrapper{
    .opermap{
        color: #2a60ea;
        font-weight: initial;
        cursor: pointer;
        .iconfont{
            color: #2a60ea;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
