:host ::ng-deep{
    .curriculum_list .operation{
        display: flex;
        justify-content: center;
        align-items: center;
        .oper{
            cursor: pointer;
            .iconfont{
                font-size: 16px;
                margin-right: 8px;
                line-height: 1;
                font-weight: bold;
            }
        }
    }

}
.operation_ul{
    & li .iconfont{
        font-size: 16px;
        margin-right: 8px;
        line-height: 1;
        font-weight: bold;
    }
    .sort, .sort i{
        color: #838895;
    }
    .modify, .modify > i{
        color: #2a60ea;
    }
    .del, .del > i{
        color: #e25a5a;
    }
}