
.addcampus_wraper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    .top_nav_warpper{
        height: 70px;
        line-height: 70px;
        flex: 0 0 70px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }
    .container_warpper{
        flex: 1;
        height: 100%;
        margin:26px 0;
        position: relative;
        background-color: #ffffff;
        .container_title{
            height: 36px;
            line-height: 36px;
            background-color: #fafafa;
            text-align: center;
            color: #838895;
            font-size: 14px;
            border-bottom: 1px solid #eeeeee;
        }
        .container{
            padding: 20px 98px 0;
            .con_item{
                margin-bottom: 24px;
                &.ant-form-item-with-help{
                    margin-bottom: 0;
                }
                .con_lable{
                    height: 52px;
                    line-height: 52px;
                    color: #353840;
                    font-size: 14px;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    .title{
                        .desc{
                            color: #838895;
                            margin-left: 10px;
                            font-weight: initial;
                        }
                    }
                }
                .con_input{
                    & .ant-form-item-control{

                        height: 102px;
                    }
                    .ant-radio-group{
                        display: flex;
                        justify-content: center;
                        .ant-radio-button-wrapper{
                            flex: 1;
                            border-radius: 2px;
                            border: none;
                            padding: 0;
                            height: auto;
                            position: relative;
                            &:nth-child(2){
                                margin: 0 18px;
                            }
                            &:not(:first-child):before{
                                width: 0;
                            }
                            .campus_sort{
                                display: block;
                                height: 0;
                                padding-bottom: 60%;
                                border: 1px solid #cbced6;
                            }
                            .sort_con{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                color: #838895;
                                border: 2px solid transparent;
                                font-size: 14px;
                                .iconfont{
                                    font-size: 28px;
                                }
                                .icon-success_fill{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    transform: translate(50%, -50%);
                                    display: none;
                                }
                            }
                            &.ant-radio-button-wrapper-checked{
                                box-shadow: none;
                                .sort_con{
                                    background-color: #fbfefa;
                                    color: #1bb413;
                                    border: 2px solid #1bb413;
                                    border-top-right-radius: 15px;
                                    .iconfont{
                                        color: #1bb413;
                                    }
                                    .icon-success_fill{
                                        display: block;
                                    }
                                }
                                .campus_sort{
                                    border-top-right-radius: 15px;
                                }
                            }
                        }
                    }
                    .select_wrap{
                        
                        .ant-select{
                            flex: 1;
                            &:nth-child(2){
                                margin: 0 18px;
                            }
                        }
                        .addres_four{
                            margin-top: 10px;
                        }
                    }
                    .upload_img{

                    }
                }
            }
            .btn_wrapper{
                margin: 50px 0;
                .ant-btn{
                    height: 48px;
                    line-height: 48px;
                    padding: 0 50px;
                    margin: 0 9px;
                    font-size: 16px;
                    &.reset{
                        background-color: #ebeced;
                        border-color: #ebeced;
                        color: #838895;
                    }
                }
            }
        }

    }
}
:host ::ng-deep{
    

    .container_warpper{
        .ant-input{
            border: 1px solid #cbced6;
            border-radius: 4px;
            font-size: 14px;
            color: #838895;
        }
        .ant-input{
            text-indent: 16px;
            &::-webkit-input-placeholder{
                color: #838895;
            }
        }
        .has-error{
            & .ant-input{
                border-color: #f04134;
                &::-webkit-input-placeholder{
                    color: #f04134;
                }
            }
            & .ant-form-explain, & .ant-form-split{
                margin-left: 20px;
                height: 24px;
                line-height: 24px;
            }
            .no_color{
                .ant-input{
                    border-color: #cbced6;
                    &::-webkit-input-placeholder{
                        color: #838895;
                    }
                    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
